
.nav-link { transition: all .2s ease-in-out; }
.nav-link:hover { transform: scale(1.5); }

.header {
    color: white;
    font-family:myFirstFont;
    src: url(ostrich-sans-master/OstrichSansRounded-Medium.otf);
    font-size: 6vw;
    text-align: center;
    letter-spacing: .8ex;
    margin-bottom: 0px;
    width: 100%;
    max-width: 1518;
    font-weight:bold;
}

.navbar-brand {
    padding-bottom: 0;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}

@font-face {
    font-family: myFirstFont;
    src: url(ostrich-sans-master/OstrichSans-Light.otf);
}

.head img {
    width: 100%;
    max-width: 100px;
    opacity: .6;
    border-radius: 50%;
    border-style: solid;
    border-color: white;
    border-width: 10px;
    float: right;
    margin: 10px;
}

                        /* ABOUT */
.about {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
    max-width: 900px;
    width: 100%;
    border-bottom-style: solid;
    border-bottom-color: white;
    border-bottom-width: 1px;
    border-left-style: solid;
    border-left-color: white;
    border-left-width: 1px;
    padding-left: 20px;
    margin-right: 25%;
}

/* TECH SKILLS */

.techSkills {
    text-align: center;
    width: 100%;
    background-position: center;
    background-color: rgba(255, 0, 0, .5);
    padding-bottom: 200px;;
}

.techSkills h2{
    font-size:5vw; 
}

.container {
    position: relative;
}

/* Bottom right text */
.text-block p{
    text-align: left;
    position: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    margin: 20px;
    padding: 20px;
    font-weight: lighter;

}
.techSkills p Strong {
    font-size: 2.5rem;
    font-family: myFirstFont;
    src: url(ostrich-sans-master/OstrichSans-Light.otf);
    font-weight: bold;
}
.tabcontent h1 {
    font-weight: bolder;
    text-align: center;
    letter-spacing: 3px;
}
            /* contact */


#Contact {
    font-size: 2vw;
    font-weight: bolder;
    letter-spacing: 3px;
    text-align: center;
}
.contactInfo{
    background-color: black;
    opacity: .7;
    padding-left: 10px;
    width: 100%;

}

                                   /* PORTFOLIO */

.carousel-inner img {
    max-width: 35%;
    max-height: 35%;
    margin: auto;
    margin-bottom: 300px;
    border-width: 10px;
    border-color: black;
    border-style: solid;
}
.port-header {
    letter-spacing: 1ex;
    max-width: 300px;
    opacity: .8;
    margin-right: auto;
    margin-left: auto;
}

.port-header h2{
    text-align: center;
    font-weight: bolder;
    background-color: rgba(255, 0, 0, 0.863);
    border-radius: 10px;
    padding-left: 6px;
}

                                    /* CONTACT INFO */


.contactInfo {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}
.contactInfo img {
    max-width: 300px;
}
